@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: 'Manrope', sans-serif;
    
}

.container{
    width: 1400px;
    margin: 0 auto;
    background-color: #F5F5F5;
    padding: 125px;
}

h1{
    font-size: 60px;
    font-weight: 400; 
    line-height: 60px;
}

h2{
    font-weight: 400;
    font-size: 45px;
    text-transform: uppercase;
}

p{
    font-size: 20px;
    font-weight: 400;
}

.title{
    margin-bottom: 30px;
}

.about{
    width: 1150px;
    height: 500px;
    background-image: url(//resources/about.png);
    color: white;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 150px;
    padding: 379px 680px 40px 40px;
}

.about__text{
    width: 430px;
    line-height: 27px;
    letter-spacing: -0.03em;
}


h2{
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 30px;
}

.about-us__text{
    font-size: 45px;
    padding-bottom: 30px;
}
   
.check-our-services{
    display: inline-block;
    padding: 20px 40px;
    font-size: 20px;
    background-color: #AD1818;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    margin-bottom: 150px;
}

.projects{
    margin-bottom: 150px;
}

.items{
    margin-bottom: 90px;
}

.items__img{
    width: 1150px;
    margin-bottom: 15px;
}

.items__text{
    margin: 15px 0 15px;
}

.items__link{
    color: #AD1818;
}

.projects__button{
    width: 1150px;
    text-align: center;
    padding: 56px 0 56px;
    color: #AD1818;
    font-size: 30px;
    border: 1px solid #AD1818;
    border-radius: 5px;
}

.projects__button:hover{
    color: #F5F5F5;
    background-color: #AD1818;
    transition: all ease-in 0.5s;
}
