@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Manrope', sans-serif;
    
}

.container{
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 15px;
}

a{
    text-decoration: none;
    color: inherit;
}

h1{
    font-size: 60px;
    font-weight: 400; 
    line-height: 60px;
}

h2{
    font-weight: 400;
    font-size: 45px;
    text-transform: uppercase;
}

p{
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.03em;
}


.header{
    margin-bottom: 70px;
    padding-top: 33px;
}

.header__inner{
    display: flex;
    justify-content: space-between;
}

.nav{
    display: flex;
    gap: 60px;
}

.nav-link{
    color: #121212;
    font-weight: 400;
    text-transform: uppercase;
}

.link-is-current:hover{
    opacity: 0.5;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    transition: ease-in 0.2s all;
}

.hero{
    margin-bottom: 150px;
}

.hero__title{
    width: 956px;
    margin-bottom: 30px;
    line-height: 100%;
    letter-spacing: -0.03em;
}

.hero__box{
    position: relative;
    width: 100%;
    height: 500px;
    background-image: url(../resources/about.png);
    color: white;
    background-size: contain;
    background-repeat: no-repeat;
    
    /* padding: 379px 680px 40px 40px; */
}

.hero__text{
    position: absolute;
    bottom: 40px;
    left: 40px;
    width: 430px;
    line-height: 27px;
}


.title__h2{
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 30px;
}

.history{
    margin-bottom: 150px;
}

.history__text{
    width: 1048px;
    font-size: 45px;
    padding-bottom: 30px;
}
   
.check-our-services{
    display: inline-block;
    padding: 20px 40px;
    font-size: 20px;
    background-color: #AD1818;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    
}

.check-our-services:hover{
    transform: scale(1.1);
    transition: all ease 0.5s;
}

.projects{
    margin-bottom: 150px;
}

.projects__items{
    margin-bottom: 90px;
}

.items__img{
    width: 1150px;
    margin-bottom: 15px;
}

.items__text{
    margin: 15px 0 15px;
    font-size: 25px;
}

.items__link{
    color: #AD1818;
}

.projects__button{
    width: 100%;
    padding: 56px 0 56px;
    color: #AD1818;
    font-size: 30px;
    border: 1px solid #AD1818;
    border-radius: 5px;
}

.projects__button:hover{
    color: #F5F5F5;
    background-color: #AD1818;
    transition: all ease-in 0.5s;
    cursor: pointer;
}

.title__offers{
    color: white;
    padding-top: 150px;
}

.offers{
    background-color: #121212;
}

.offers__item{
    margin-bottom: 60px;
}

.offers__item:last-child{
    padding-bottom: 150px;
    margin-bottom: 0;
}

.offers__item img{
    margin-bottom: 15px;
}

.offers__item p{
    font-size: 30px;
    color: #fff;
}

.bed{
    margin-bottom: 150px;
}

.fullWidthImage{
    position: relative;
    background-image: url(../resources/bad.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    margin-bottom: 150px;
    width: 100%;
    height: 717px;
}


.bed__text{
    width: 443px;
    position: absolute;
    bottom: 60px;
    left: 125px;
    color: #fff;
    font-size: 30px;
}

.contacts{
    margin-bottom: 150px;   
}

.contacts__title{
    position: relative;
    font-size: 18px;
    margin-bottom: 32px;
}

.contacts__title::before{
    display: block;
    position: absolute;
    content: "";
    width: 24px;
    height: 24px;
    bottom: 30px;
    background-image: url(../resources/phone-logo.svg);
    background-repeat: no-repeat;
    
}

.contacts__phone{
    margin-bottom: 30px;
    font-size: 60px;
}

.contacts__phone:hover{
    opacity: 0.5;
    transition: all ease 0.4s;
}

.contacts__email{
    font-size: 60px;
}

.contacts__email:hover{
    transition: all ease 0.4s;
    opacity: 0.5;
}

.footer{
    background-color: #121212;
    padding: 60px 0 30px;
}

.footer__list{
    display: flex;
    gap: 55px;
    justify-content: center;
    margin-bottom: 87px;
}


.footer__link{
    color: #F5F5F5;
    font-size: 18px;
    text-transform: uppercase;
}

.footer__link:hover{
    opacity: 0.5;
    transition: ease all 0.3s;
}

.footer__copyright{
    color: #F5F5F5;
    margin: 0 auto;
    width: 389px;
    opacity: 0.5;
}

